<?xml version="1.0"?>

<launch>

  <arg name="arm" default="right"/>

<!-- Nextage IK node -->
<node pkg="rpbi_work" name="nextage_ik_node" type="nextage_ik_node.py" output="screen">
  <param name="arm" value="$(arg arm)" type="string"/>  
</node>

<!-- PyRBDL4dIK Environmet node (receiver - publisher) -->
<node
    name="mpc_sliding_node"
    pkg="rpbi_work"
    type="nextage_ros_mpc_sliding_real_robot.py"
    required="true"
    output="screen">
    <param
        name="real_setup"
        value="true"
        type="bool"/>
    <!-- List visual objects (optional) -->
    <rosparam param="object_config_file_name">
        [
        '{rpbi_work}/configs/nextage_sliding_box_visual.yaml',
        '{rpbi_work}/configs/nextage_sliding_box.yaml',
        ]
    </rosparam>
    <!-- node names -->
    <rosparam param="setup">
        [
        <!-- '{rpbi_work}/configs/nextage_sim_setup.yaml', -->
        '{rpbi_work}/configs/nextage_real_setup.yaml',
        <!-- '{rpbi_work}/configs/nextage_real_setup.yaml', -->
        ]
    </rosparam>
    <!-- Sys dyn param -->
    <rosparam param="sliding_param_dyn">
        [
        '{rpbi_work}/configs/sliding_dyn_param.yaml',
        ]
    </rosparam>
    <!-- Tracking to param -->
    <rosparam param="sliding_param_tracking_traj">
        [
        '{rpbi_work}/configs/nextage_tracking_config.yaml',
        ]
    </rosparam>
    <!-- Nominal to param -->
    <rosparam param="sliding_param_nom_traj">
        [
        '{rpbi_work}/configs/nextage_nom_config.yaml',
        ]
    </rosparam>
</node>

</launch>
