<?xml version="1.0"?>

<launch>

  <!-- Joystick -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy0" >
    <remap from="/joy" to="/joy0/raw"/>
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" type="double" value="150.0"/>
  </node>

  <node pkg="operator_node" name="joy_remap0" type="joy_remap_node">
    <remap from="joy_in" to="/joy0/raw"/>
    <remap from="joy_out" to="/joy0"/>
    <param name="sampling_rate" type="int" value="100"/>
  </node>

  <node pkg="operator_node" name="operator_node0" type="isometric_node">
    <remap from="joy" to="joy0"/>
    <remap from="operator_node/signal" to="operator_node/signal0"/>
    <param name="max_velocity" type="double" value="0.02"/>
    <rosparam param="axis">[1, 0]</rosparam>
    <rosparam param="directions">[1, 1]</rosparam>
  </node>

  <node respawn="true" pkg="joy" type="joy_node" name="joy1" >
    <remap from="/joy" to="/joy1/raw"/>
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="autorepeat_rate" type="double" value="150.0"/>
  </node>

  <node pkg="operator_node" name="joy_remap1" type="joy_remap_node">
    <remap from="joy_in" to="/joy1/raw"/>
    <remap from="joy_out" to="/joy1"/>
    <param name="sampling_rate" type="int" value="100"/>
  </node>

  <node pkg="operator_node" name="operator_node1" type="isometric_node">
    <remap from="joy" to="joy1"/>
    <remap from="operator_node/signal" to="operator_node/signal1"/>
    <param name="max_velocity" type="double" value="0.05"/>
    <rosparam param="axis">[1, 0]</rosparam>
    <rosparam param="directions">[1, 1]</rosparam>
  </node>

  <!-- Nextage pushing node (teleop) -->
  <node pkg="rpbi_work" name="nextage_pushing_node" type="nextage_pushing_node.py" output="screen">
    <param name="config_filename" type="str" value="{rpbi_work}/configs/default_nextage_hand_goals.yaml"/> <!-- replace with config filename from Christian -->
  </node>

  <!-- Nextage IK node -->
  <node pkg="rpbi_work" name="nextage_ik_node" type="nextage_ik_node.py" output="screen">
    <param name="arm" type="string" value="right"/>
  </node>

</launch>
