<launch>

    <arg name="arm" default="gen3"/>
    <arg name="dof" default="7" if="$(eval arg('arm') == 'gen3')"/> <!-- Number of degrees of freedom of the arm -->
    <arg name="dof" default="6" if="$(eval arg('arm') == 'gen3_lite')"/> <!-- Number of degrees of freedom of the arm -->
    <arg name="vision" default="true"/> <!-- True if the arm has a Vision module -->

    <!-- Gripper configuration -->
    <arg name="gripper" default=""/>

    <!-- Load the description for the robot -->
    <!-- Without gripper -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/$(arg arm).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=true"
        if="$(eval not arg('gripper'))"/>
    <!-- With gripper -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/$(arg arm)_$(arg gripper).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=true"
        unless="$(eval not arg('gripper'))"/>

  <!-- ROS-Pybullet interface -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/basic_example_kinova/config.yaml"/>
  </node>

  <!-- Example node that generates target joint positions -->
  <node pkg="rpbi_examples" name="example" type="basic_robot_example_node.py" args="kinova" output="screen"/>

</launch>
