<launch>

  <!-- Load kinova -->
  <include file="$(find kortex_description)/launch/visualize.launch">

  </include>

  <!-- ROS-Pybullet interface -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/basic_example_kinova/config.yaml"/>
  </node>

  <!-- Example node that generates target joint positions -->
  <node pkg="rpbi_examples" name="example" type="basic_robot_example_node.py" args="kinova" output="screen"/>

</launch>
