<launch>

  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/basic_example_kuka_lwr/config.yaml"/>
  </node>

  <node pkg="rpbi_examples" name="example" type="basic_robot_example_node.py" args="kuka_lwr"/>

</launch>
