<launch>

  <!-- Human interface -->
  <!-- =============== -->

  <arg name="robot_name" default="Left" />
  <arg name="base_offset" default="0.010" />
  <arg name="motion_scaling" default="0.1" />
  <arg name="lock_position" default="false" />
  <arg name="omni_kp" default="0.02" />
  <arg name="omni_entry" default=" -0.004 0.002 0.019 0 0 0" />

  <node pkg="geomagic_touch_x_ros" name="omni" type="omni" output="screen" required="true">
    <param name="omni_name" value="$(arg robot_name)" />
    <param name="device_name" value="$(arg robot_name)" />
    <param name="Kp_target" value="$(arg omni_kp)" />
    <param name="motion_scaling" value="$(arg motion_scaling)" />
    <param name="lock_position" value="$(arg lock_position)" />
  </node>

  <node pkg="geomagic_touch_x_ros" name="touch_x_transform" type="touch_x_transform" >
    <param name="omni_name" value="$(arg robot_name)" />
    <param name="motion_scaling" value="$(arg motion_scaling)" />
    <remap from="/omni_joints" to="/$(arg robot_name)/joints" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="coordinate_compatability" args=" $(arg base_offset) 0 0 0 0 0 ctr_base $(arg robot_name)_fk_base 10" />
  <node pkg="tf" type="static_transform_publisher" name="omni_coordinate" args=" $(arg omni_entry) $(arg robot_name)_fk_entry $(arg robot_name) 10" />
  <node pkg="tf" type="static_transform_publisher" name="omni_tip" args="0 0 0 0 0 -1.57079632679 $(arg robot_name)_link6 $(arg robot_name)_tip 10" />
  <node pkg="tf" type="static_transform_publisher" name="tool_tip" args="0 0 0 0 0 -1.57079632679 $(arg robot_name)_fk_ee $(arg robot_name)_fk_tool 10" />
  
  <!-- Teleoperation -->
  <!-- ============= -->

  <!-- Specify origin for IK target-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="teleop_origin_broadcaster" args="-0.5377569885 -0.0014016089 0.2435178121 0 0 3.14159 rpbi/world teleop_origin"/>

  <!-- IK -->
  <!-- == -->

  <node pkg="ik_ros" name="ik_setup" type="ik_setup_node.py" args="pybullet">
    <rosparam param="config" file="$(find rpbi_examples)/configs/human_interaction/ik.yaml"/>
    <param name="start_on_init" type="bool" value="true"/>
    <remap from="ik/setup/pybullet/currentPosition" to="rpbi/kuka_lwr/joint_states"/>
    <remap from="ik" to="rpbi/kuka_lwr/ik"/>
  </node>

  <!-- Simulation -->
  <!-- ========== -->

  <!-- ROS-Pybullet interface node simulator -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface_node" type="ros_pybullet_interface_node.py" >
    <rosparam param="config" file="$(find rpbi_examples)/configs/human_interaction/config.yaml"/>
  </node>

  <!-- Static frames -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="box_tf_br" args="-0.5377569885 0.0 0.06 0 0 0 rpbi/world box"/>

  <!-- Visualization -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ik_ros_examples)/rviz/kuka_lwr_example.rviz" />

  <!-- Plot z-force from sensor -->
  <node name="plot" pkg="rqt_plot" type="rqt_plot" args="/ft_reading"/>

  <!-- Run example -->
  <!-- =========== -->
  
  <node pkg="rpbi_examples" name="run" type="run_human_interaction.py" output="screen"/>

</launch>
