<launch>

  <arg name="device_name" default="Left"/>

  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface_node" type="ros_pybullet_interface_node.py">
    <rosparam param="config" file="$(find rpbi_examples)/configs/nsl/config.yaml"/>
  </node>

  <node pkg="rpbi_utils" name="wrench_calibration" type="calibrate_wrench_node.py">
    <remap from="wrench" to="rpbi/kuka_lwr/lwr_arm_7_joint/ft_sensor"/>
    <remap from="wrench/calibrated" to="rpbi/kuka_lwr/lwr_arm_7_joint/ft_sensor/calibrated"/>
    <param name="max_samples" type="int" value="200"/>
  </node>

  <node name="demo" pkg="geomagic_touch_x_ros"
	ns="geomagic_touch_x_node" type="demo_impedance_control.py">
    <remap from="cmd_force" to="to_centre_force"/>
    <param name="Kx" type="double" value="10"/>
    <param name="Ky" type="double" value="80."/>
    <param name="Kz" type="double" value="10"/>
    <param name="Dx" type="double" value="2"/>
    <param name="Dy" type="double" value="5."/>
    <param name="Dz" type="double" value="2"/>
  </node>

  <node name="geomagic_touch_x_node" pkg="geomagic_touch_x_ros" type="geomagic_touch_x_node" output="screen">
    <param name="device_name" type="str" value="$(arg device_name)"/>
  </node>

  <node pkg="rpbi_examples" name="nsl" type="nsl.py" output="screen"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="goal_box_tf_br" args="-1 0 0.15 0 0 0 rpbi/world goal_box" />

</launch>
