<launch>

  <param name="robot_description" textfile="$(find talos_description)/robots/talos_full_v2.urdf"/>

  <!-- ROS-Pybullet interface -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/run_pose/config_talos.yaml"/>
  </node>

</launch>
