<launch>

  <!-- <param name="robot_description" textfile="$(find talos_description)/robots/talos_full_v2.urdf"/> -->

  <!-- ROS-Pybullet interface -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/run_pose/config_kuka_lwr.yaml"/>
  </node>

  <node pkg="tf2_ros"
	type="static_transform_publisher"
	name="whiteboard_broadcaster" args="-0.5 0.5 0.5 0.72 0 1 rpbi/world rpbi/whiteboard" />  

</launch>
