<launch>

  <!-- ROS-Pybullet interface -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/run_kuka/config.yaml"/>
  </node>

  <!-- Static transforms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="floor_tf" args="0 0 0 0 0 0 rpbi/world rpbi/floor"/>

  <!-- Controls -->
  <node pkg="ros_pybullet_interface" name="controls" type="rpbi_controls_node.py" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/run_kuka/config.yaml"/>
  </node>

</launch>
