<launch>

  <!-- ROS-Pybullet interface node -->
  <node pkg="ros_pybullet_interface" name="ros_pybullet_interface" type="ros_pybullet_interface_node.py" output="screen">

    <param name="pybullet_config_filename" type="string" value="{rpbi_examples}/configs/teleoperation_joint_demo/pybullet.yaml"/>
    <param name="visualizer_config_filename" type="string" value="{rpbi_examples}/configs/teleoperation_joint_demo/visualizer.yaml"/>

    <rosparam param="pybullet_robot_config_filenames">
      [
      "{rpbi_examples}/configs/teleoperation_joint_demo/kuka_lwr.yaml"
      ]
    </rosparam>

    <rosparam param="pybullet_collision_object_config_filenames">
      [
      "{rpbi_examples}/configs/floor.yaml"
      ]
    </rosparam>
  </node>

  <!-- Spacenav -->
  <node pkg="spacenav_node" type="spacenav_node" name="$(anon spacenav_node)" output="screen">
    <param name="zero_when_static" value="true"/>
    <param name="static_count_threshold" value="30"/>
  </node>

  <!-- Map spacenav to operator signal -->
  <node pkg="operator_node" name="joy2osig" type="scale_node.py" output="screen">
    <remap from="joy" to="spacenav/joy"/>
    <param name="axes" type="str" value="5 4 1 2 0 3"/>
    <param name="scale" type="str" value="0.8"/>
  </node>

  <!-- joint teleoperation mode -->
  <node pkg="operator_node" name="teleop" type="teleop_joint_node.py">
    <rosparam param="joint_names">
      ["lwr_arm_0_joint", "lwr_arm_1_joint", "lwr_arm_2_joint", "lwr_arm_3_joint", "lwr_arm_4_joint", "lwr_arm_5_joint",]
    </rosparam>
    <param name="control_mode" type="str" value="velocity"/>
    <remap from="joint_states/target" to="rpbi/kuka_lwr/joint_states/target"/>
  </node>

</launch>
