#
# Basic example
#


#
# Pybullet instance
#
connect:
  connection_mode: 'GUI'
  options: '--mp4=$HOME/basic_example_kuka_lwr.mp4'

gravity: [0.0, 0.0, -9.81]
timeStep: 0.01
start_pybullet_after_initialization: true
status_hz: 50


#
# Pybullet visualizer
#
configureDebugVisualizer:
  enable: 0
  flag: 'COV_ENABLE_GUI'

resetDebugVisualizerCamera:
  cameraDistance: 2.0
  cameraYaw: 0.0
  cameraPitch: -45.0
  cameraTargetPosition: [0.0, 0.0, 0.0]


#
# Pybullet objects
#
collision_objects:
  - "{rpbi_examples}/configs/floor.yaml"
robots:
  - "{rpbi_examples}/configs/basic_example_kuka_lwr/kuka_lwr.yaml"
