<?xml version="1.0"?>

<launch>

<!-- PyRBDL4dIK Environmet node (receiver - publisher) -->
<node
    name="mpc_sliding_node"
    pkg="ros_pybullet_interface"
    type="test_ros_mpc_sliding.py"
    required="true"
    output="screen">
    <param
        name="real_setup"
        value="false"
        type="bool"/>
    <!-- List visual objects (optional) -->
    <rosparam param="object_config_file_name">
        [
        '{ros_pybullet_interface}/configs/visual_sliding_box.yaml',
        '{ros_pybullet_interface}/configs/sliding_obs.yaml',
        ]
    </rosparam>
    <!-- Sys dyn param -->
    <rosparam param="sliding_param_dyn">
        [
        '{ros_pybullet_interface}/configs/sliding_dyn_param.yaml',
        ]
    </rosparam>
    <!-- Tracking to param -->
    <rosparam param="sliding_param_tracking_traj">
        [
        '{ros_pybullet_interface}/configs/tracking_config.yaml',
        ]
    </rosparam>
    <!-- Nominal to param -->
    <rosparam param="sliding_param_nom_traj">
        [
        '{ros_pybullet_interface}/configs/nom_config.yaml',
        ]
    </rosparam>
</node>

</launch>
