<?xml version="1.0"?>

<launch>

    <!-- PyRBDL4dIK Environmet node (receiver - publisher) -->
    <node
        name="mpc_sliding_node"
        pkg="ros_pybullet_interface"
        type="test_ros_mpc_sliding.py"
        required="true"
        output="screen">
        <!-- List visual objects (optional) -->
        <rosparam param="object_config_file_names">
          [
          '{ros_pybullet_interface}/configs/visual_sliding_box.yaml',
          ]
        </rosparam>
     </node>


</launch>
