<launch>

  <!-- Launch ROS-PyBullet interface node -->
  <node
      name="ros_pybullet_interface"
      pkg="ros_pybullet_interface"
      type="ros_pybullet_interface_node.py"
      clear_params="true"
      output="screen">

      <!-- Pybullet simulation config (required) -->
      <!-- Flag to indicate how bullet simulation step is
           synced with ROS control loop.
           Options:
                true:  pybullet executes all simulation steps in a fixed frequency
                       This can be used to simulate real world
                       ( use simulation freqency > 250 Hz)
                false: pybullet executes every simulation step when commanded by ROS node
                       This can be used to execute one simulation step after one control/interface step
                       Useful for debugging, but not realistic
                       (specially, if control loop freqency is < 250 Hz)-->
      <param
          name="pybullet_sim_self_loop"
          value="true"
          type="bool"/>

    <!-- Robot config (required) -->
    <rosparam param="robot_config_file_names">
      [
      "{ros_pybullet_interface}/configs/yang.yaml",
      "{ros_pybullet_interface}/configs/yin.yaml",
      "{ros_pybullet_interface}/configs/kuka.yaml",
      ]
    </rosparam>

    <!-- Camera config (required) -->
    <param
        name="camera_config"
        value="{ros_pybullet_interface}/configs/camera.yaml"
        type="str"/>

    <!-- List collision objects (optional) -->
    <rosparam param="collision_object_config_file_names">
      [
      '{ros_pybullet_interface}/configs/surface.yaml',
      '{ros_pybullet_interface}/configs/whiteboard.yaml'
      ]
    </rosparam>

    <!-- List visual links (optional) -->
    <rosparam param="visframes">
      [
      'whiteboard/child'
      ]
    </rosparam>

  </node>

  <!-- Testing node (publisher) -->
  <node
      name="test_ros_pybullet_interface"
      pkg="ros_pybullet_interface"
      type="test_ros_pybullet_interface.py"
      output="screen">

    <param
          name="robot_name"
          value="LWR"
          type="str"/>

  </node>

  <node
      name="test_ros_pybullet_interface1"
      pkg="ros_pybullet_interface"
      type="test_ros_pybullet_interface.py"
      output="screen">

    <param
          name="robot_name"
          value="yang"
          type="str"/>

  </node>

  <node
      name="test_ros_pybullet_interface2"
      pkg="ros_pybullet_interface"
      type="test_ros_pybullet_interface.py"
      output="screen">

    <param
          name="robot_name"
          value="yin"
          type="str"/>

  </node>


  <!-- Setup a static tf for the whiteboard in the ros_pybullet_interface/world frame -->
  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="whiteboard_tf_broadcaster"
      args="0.1 0.2 0.3 0 0 0.6283185307179586 ros_pybullet_interface/world whiteboard"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="whiteboard_image_tf_broadcaster"
      args="0.4 0.2 0 0 0 0 whiteboard whiteboard/child"/>

</launch>
