<launch>

  <node
      name="ros_pybullet_interface"
      pkg="ros_pybullet_interface"
      type="ros_pybullet_interface.py"
      output="screen">
      
    <param
        name="robot_config"
        value="/home/chris/Projects/kuka_ws/src/ros_pybullet_interface/configs/kuka.yaml"
        type="str"/>

    <param
        name="camera_config"
        value="/home/chris/Projects/kuka_ws/src/ros_pybullet_interface/configs/camera.yaml"
        type="str"/>

    <rosparam param="collision_object_config_file_names">
      [
      '/home/chris/Projects/kuka_ws/src/ros_pybullet_interface/configs/whiteboard.yaml'
      ]
    </rosparam>

  </node>

  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="whiteboard_tf_broadcaster"
      args="-0.3 -0.7 0.25 0 0 0 ros_pybullet_interface/world whiteboard"/>

</launch>
