<launch>

  <node
      name="ros_vicon_offset"
      pkg="ros_pybullet_interface"
      type="vicon_tf_offset.py"
      output="screen">

    <param
        name="object_name"
        value="Box_IIWAs"
        type="str"/>

    <param
        name="offset"
        value="0.0 0.0 -0.15 0.0 0.0 0.0"
        type="str"/>

  </node>

  <node
      name="ros_vicon_offset_yang_base"
      pkg="ros_pybullet_interface"
      type="vicon_tf_offset.py"
      output="screen">

    <param
        name="object_name"
        value="yang_frame"
        type="str"/>

    <param
        name="offset"
        value="-0.153 0.153 0.0 0.0 0.0 0.0"
        type="str"/>

  </node>

  <node
      name="ros_vicon_offset_yin_base"
      pkg="ros_pybullet_interface"
      type="vicon_tf_offset.py"
      output="screen">

    <param
        name="object_name"
        value="yin_frame"
        type="str"/>

    <param
        name="offset"
        value="0.153 0.153 0.0 180.0 0.0 0.0"
        type="str"/>

  </node>


</launch>
