#
# Basic example
#


#
# Pybullet instance
#
connect:
  connection_mode: 'GUI'

gravity: [0.0, 0.0, -9.81]
timeStep: 0.01
start_pybullet_after_initialization: true
status_hz: 50


#
# Pybullet visualizer
#
configureDebugVisualizer:
  enable: 0
  flag: 'COV_ENABLE_GUI'

resetDebugVisualizerCamera:
  cameraDistance: 2.0
  cameraYaw: 45.0
  cameraPitch: -45.0
  cameraTargetPosition: [0.0, 0.0, 0.0]


#
# Pybullet objects
#
visual_objects:
  - "{rpbi_examples}/configs/pybullet_objects_example/visual_sphere.yaml"
collision_objects:
  - "{rpbi_examples}/configs/floor.yaml"
